
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    color : #fff;
    background-color: #000;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    background-color: rgba(120, 120, 120, 0.6);
    border: 0;
    font-weight: 800;
    top: 46%;
    width: 3%;
    height: 8%;
    transition : 0.3s;
}

.input:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

#leftButton {
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    left: 0px;
}

#rightButton {
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    right: 0%;
}

#tableCon {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 70%;
    border-collapse: collapse;
}


td {
    border: 1px solid #ddd;
    padding: 7px;
    background-color: #000;
    text-align: center;
}

th {
    border: 1px solid #ddd;
    padding: 7px;
    background-color: #000;
    text-align: center;
}

/* 수학, 물리 */
.C52fad9 {
    background-color: rgba(82,250,217, 0.25);
}
.C52affa {
    background-color: rgba(82, 175, 250, 0.25);
}
.C52e5fa {
    background-color: rgba(82, 229, 250, 0.25);
}
.C52faa0 {
    background-color: rgba(82, 250, 160, 0.25);
}
.C527afa {
    background-color: rgba(82, 122, 250, 0.25);
}


/* 영어 */
.Cda41fa {
    background-color: rgba(218, 65, 250, 0.25);
}
.Cfa4157 {
    background-color: rgba(250, 65, 87, 0.25);
}
.Cfa42c7 {
    background-color: rgba(250, 66, 199, 0.25);
}
.C9d41fa {
    background-color: rgba(157, 65, 250, 0.25);
}
.Cfa5b41 {
    background-color: rgba(250, 91, 65, 0.25);
}

/* 기타 */
.Cfa9139 {
    background-color: rgba(250,145,57, 0.25);
}
.Cfac739 {
    background-color: rgba(250,199,57, 0.25);
}
.Cfab039 {
    background-color: rgba(250,176,57, 0.25);
}
.Cfa7029 {
    background-color: rgba(250,112,57, 0.25);
}
.Cfadf39 {
    background-color: rgba(250,223,57, 0.25);
}

/* 국어 */
.Cd1fa4b {
    background-color: rgba(209,250,75, 0.25);
}
.C4bfa55 {
    background-color: rgba(75,250,85, 0.25);
}
.C87fa4a {
    background-color: rgba(135,250,74, 0.25);
}
.Cfaf04b {
    background-color: rgba(250,240,75, 0.25);
}
.C4bfa90 {
    background-color: rgba(75,250,144, 0.25);
}